/*@media screen{

	body{	
		background-color: grey;
	}

	.menu .navegador ul li{
		display: inline-block;
	}

	header{
		height: 200px;
		width: 1000px;
		background-color: blue;
		margin-right: auto;
		margin-left: auto;
		border-radius: 0px 0px 630px 630px;
	}
	.navegador ul li{
		display: inline;
	}

	.navegador a{
		text-decoration: none;
	}

}*/

body{
	background-color: red;
}