body{
	background-color: white;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 12px;
	color: rgb(105, 105, 105);
}

header{
	width: 100%;
}

header button, header a{
	text-transform: uppercase;
}

header button:before{
	content: '\2630';
}

header .botao{
	width: 92%;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
}

header .botao button{
	width: 100%;
	height: inherit;
	border-width: 0px;
	background-color: transparent;
	border-top-width: 1px;
	border-top-color: rgba(60, 179, 113, 0.9);
	position: relative;
	top: 5px;
	font-size: 12px;
	color: rgb(79, 79, 79);
}

.navegador{
	height: 150px;
	width: 100%;
}

.lista li{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}

.menu{
	margin-left: auto;
	margin-right: auto;
}

.lista li a{
	display: inline-block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	padding:4.12% 0%;
	color: rgb(79, 79, 79);
}

.botao .fundo, .lista li:last-child{/*As li, ul precisam do border-style, color e width para funcionarem, com tambem no border bottom e outros.*/
	border-bottom-width: 2px;/*O button precisa do border-style para que a cor fique menos escura e na ror certa.*/
	border-bottom-color: rgba(60, 179, 113, 0.9);
	border-bottom-style: solid;
}








